* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.my-container-presentation {
    display: flex;
    justify-content: center;
    border: 1px solid blue; /* debugging */
}

.my-text-presentation {
    display: flex;
    width: 100%;
    height: 500px;
    align-items: center;
    border: 1px solid red;
}