* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.my-container-navbar {
    justify-content: center;
    position: relative;
}
 
.logo-navbar {
    position: absolute;
    top: 16.5px;
    left: 35%;
}

#link-style,
#link-style:visited {
    color: rgb(255, 255, 255);
    font-family: Helvetica, Arial, sans-serif;
    font-style: oblique;
    font-size: large;
    font-weight: bolder;
    margin: 0px 10px 0px 10px;
}

#link-style:active,
#link-style:hover {
    color: rgb(8, 138, 127);
}


/*PROVA CSS*/
.my-border {
    border: 1px solid red;
}