* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.my-navbar {
    display: flex;
    justify-content: space-around;
}

.my-menu-navbar {
    margin-left: 30px;
}

.my-link-button {
    margin-right: 30px;
}

#my-link-style,
#my-link-style:visited {
    color: rgb(255, 255, 255);
    font-family: Helvetica, Arial, sans-serif;
    font-style: oblique;
    font-size: large;
    font-weight: bolder;
    margin: 0px 10px 0px 10px;
}

#my-link-style:active,
#my-link-style:hover {
    color: rgb(8, 138, 127);
}

.my-border {
    border: 1px solid rgb(255, 0, 0);
}

